a {
    color: white;
}

td > div {
    height: 2vmax;
}

td > img {
    height: 2vmax;
}


.value-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.value-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.value-table th,
.value-table td {
    padding: 12px 15px;
}

.value-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.value-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.value-table tbody tr:nth-of-type(odd) {
    background-color: white;
}

.value-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.horse-icon {
    height: 2vmax;
}

.no-value-cell {
    background-color: red;
}

.value-cell {
    background-color: green;
}

